@import '~assets/styles/variables';
@import '~assets/styles/mixins';

.add{
  z-index: 100;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background: $white;
  opacity: 0;
  transition: all $t-2 ease-in;
  &:hover{
    transform: rotate(-90deg);
  }
  &__container{
    position: relative;
    height: 100%;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-button{
      @include add;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
    }
  }
}
